@import url('https://fonts.googleapis.com/css?family=Karla|Righteous&display=swap');

body {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 15% 1fr 5%;
    max-width: 1000px;
    background-color: blueviolet
}
header {
    display: grid;
    grid-row: 1;
    background-color: red;
}
.cardbox {
    grid-row: 2;
    background-color: #84B0D9;
}